@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadowed {
  text-shadow: 2px 2px 10px rgb(59, 59, 173);
}

.hoverani {
  transition: all 0.3s ease-in-out;
  animation-duration: 300ms;
}

.hoverani:hover {
  transform: scale(1.1);
}

.hoverani:active {
  transform: scale(0.9);
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #171212;
}

[data-theme="cmyk"] {
  --primary-color: #000000;
  --secondary-color: #ffffff;
}
